<html lang="en">
    <head>
        <title>about</title>
    </head>
    <body>
        <p>
            Hello there! I am tirumala_rao, mechanical engineer and hobbyist game developer.
            Working as a design engineer at Toshiba Transmission and Distribution Systems India.
        </p>
    </body>
    <footer>
        
    </footer>
</html>