---
---

<html lang="en">
    <head>
        <title>Home_Page</title>
    </head>
    <body>
        <!-- Intro section -->
        <section>
            <h2 class="text-red-400">tirumala_rao</h2>
            <h4>mechanical_engineer && game_developer</h4>
        </section>
        <!-- About Section -->
        <section>

        </section>
        <!-- Contact scetion -->
        <section>
            
        </section>
    </body>
</html>