---
const {contentTitle, contentBody} = Astro.props;
---
<section class=" bg-yellow-50 flex content-center">
    <!-- <div class="box-content w-80 mx-auto text-black_dark font-inter text-sm">Hello there!</div> -->
    <div class="box-content w-80 mx-auto text-black_dark font-inter text-sm">Hello there! I am a <span class="text-crimson_red font-bold">{contentTitle}</span> {contentBody}</div>
</section>