---
import IconButton from "./inon_links.astro"
---
<div class="flex flex-row w-full items-center justify-center">
    <!-- List of icon button components -->
        <!-- My site -->
            <IconButton
                link_url="#myPage"
                icon_path="res/T_Logo_Web_Crimson.svg"
            />
        <!-- github link -->
            <IconButton
                link_url="https://github.com/ALAMURIT/"
                icon_path="res/url_icons/211904_social_github_icon.svg"
            />
        <!-- ArtStation link -->
            <IconButton
                link_url="https://www.artstation.com/alamurit"
                icon_path="res/url_icons/3721680_artstation_icon.svg"
            />
        <!-- Linkedlin -->
            <IconButton
                link_url="https://www.linkedin.com/in/tirumala-rao-polamarasetty-775589198/"
                icon_path="res/url_icons/3721674_linkedin_icon.svg"
            />
        <!-- Gmail -->
            <IconButton
                link_url="mailto:s160812@rguktn.ac.in"
                icon_path="res/url_icons/3721669_gmail_icon.svg"
            />
        <!-- itch.io -->
            <IconButton
                link_url="https://alamurit.itch.io/"
                icon_path="res/url_icons/4691204_dot_io_itch_icon.svg"
            />
</div>
