---
const {link_url, icon_path} = Astro.props
---
<div class="h-10 w-10 m-2 rounded-sm flex justify-center items-center">
    <a href={link_url}><img class="h-8 w-8 m-auto flex justify-center items-center rounded-lg" src={icon_path}></a>
</div>