---

---

<!-- <div class="hidden flex-row sm:block  h-12 w-full p-2 m-auto items-stretch"> --><!-- <ul class="flex flex-row justify-around w-full m-auto"> --><!-- Icon --><!-- <div class="h-8 w-8"> --><!-- /        <a><img class="h-8 w-8" src="res/T_Logo_Web_Crimson.svg"/></a> --><!-- </div> --><!-- Nav Bar --><!-- <div> --><!-- <ul class="flex bg-slate-500 flex-row justify-evenly w-full"> --><!-- Home --><!-- <a>home</a> --><!-- About --><!-- <a>about</a> --><!-- Contact --><!-- <a>contact</a> --><!-- </ul> --><!-- </div> --><!-- </ul> --><!-- </div> -->
<nav class="hidden sm:flex-row sm:inline-flex text-left items-center justify-between py-2 px-6 w-full">
    <div>
      <a href="#" class="text-2xl no-underline text-grey-darkest hover:text-blue-dark"><img class="h-8 w-8" src="res/T_Logo_Web_Crimson.svg"/></a>
    </div>
    <div class="flex-row flex w-1/4 justify-between">
      <a href="#" class="text-sm font-inter no-underline text-grey-darkest hover:text-crimson_red ml-2">Home</a>
      <a href="#" class="text-sm font-inter no-underline text-grey-darkest hover:text-crimson_red ml-2">About</a>
      <a href="#" class="text-sm font-inter no-underline text-grey-darkest hover:text-crimson_red ml-2">Contact</a>
    </div>
  </nav>
