---
const {contentTitle, contentBody} = Astro.props;
---
<section class="h-screen w-full flex flex-col justify-center items-center">
    <div class="box-content w-80 mx-auto text-center p-2 text-crimson_red font-inter text-5xl font-bold">{contentTitle}</div>
    <div class="box-content w-80 mx-auto text-center p-2 text-black_dark font-inter text-md">{contentBody}</div>
</section>